<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>hello world</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="root"><%- root %></div>

  <script src="<%- vendorScript %>"></script>
  <script src="<%- appScript %>"></script>
</body>
</html>
